<div class="col-md-12 border rounded mb-4 bg-light">
  <div class="mt-3 mx-1">
    <div class="row">
      <div class="col-md-9">
        <h2><%= link_to post.title, post_path(post), class: 'link' %></h2>
      </div>
      <div class="col-md-3 text-right">
        <p>
          <%= post.created_at.strftime("%H:%M %d.%m.%Y") %>
        </p>
      </div>
    </div>
    <div class="mb-2">
      <%= post.content %>
    </div>
    <div class="border-top">
      <div class="row my-2">
        <div class="col-md-6">
          <span><%= link_to fa_icon('chat-square-text'), post_path(post, anchor: 'comments') %></span>
          <span class="ml-1"><%= post.comments.size %></span>
        </div>
        <div class="col-md-6 text-right">
          <span><%= link_to "Автор: #{post.user.username}", post.user, class: 'badge badge-secondary' %></span>
        </div>
      </div>
    </div>
  </div>
</div>
